/*******************************************************************************
  * @media only screen and (min-width : 480px)
*******************************************************************************/
/** page-what-visit **/
@mixin what-to-visit--480() {
  ul.blog-visit li {
    float: left;
    width: 50%;
  }
}

/*******************************************************************************
  * @media only screen and (min-width : 768px)
*******************************************************************************/
@mixin what-to-visit--768() {
  ul.blog-visit li {
    width: 33.3%;
  }
}
