/*******************************************************************************
  * @media only screen and (min-width : 480px)
*******************************************************************************/
/** page-what-visit **/
@mixin what-to-visit--480() {
  ul.blog-visit li {
    float: left;
    width: 50%;
  }
}

/** page index **/
@mixin blog--480() {
  .blog {
    article {

      img {
        float: left;
        width: 40%;
      }

      .content-post {
        float: left;
        width: 60%;
        padding-left: 20px;
      }
    }
  }
} // end mixin blog--480

@mixin categories--480() {
  .category {
    article {

      img {
        float: left;
        width: 40%;
      }

      .content-post {
        float: left;
        width: 60%;
        padding-left: 20px;
      }
    }
  }
} // end mixin categories--480


/*******************************************************************************
  * @media only screen and (min-width : 768px)
*******************************************************************************/
@mixin what-to-visit--768() {
  ul.blog-visit li {
    width: 33.3%;
  }
}
