@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  @include media-header--768();
}

@media only screen and (min-width: 992px) {
  @include media-header--992();
  @include media-footer--992();
  .container {
    width: 990px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}
