.blog {

  h2 {
    margin: 0;
  }

  .post-categories {
    margin-top: 10px;

    li {

      a {
        color: $white;
        background-color: $mainRed;
        padding: 5px;
        border-radius: 5px;
      }
    }
  } // end post-categories

  article {
    clear: both;
    margin-bottom: 20px;
    overflow: auto;

    img {
      width: 100%;
    }

    .content-post {
      float: left;
      width: 100%;
    }
  }
}
