.featured {
  position: relative;
  margin-bottom: 20px;

  h2 {
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: $mainRed;
    color: $white;
    padding: 10px 20px 10px 10px;
    text-transform: lowercase;
  }
}

h2.noimage {
  color: $mainRed;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  padding: 30px 0;
  border: 2px solid $mainRed;
}
